<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help</title>
</head>

<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, odit? </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptate ratione quisquam qui sequi doloremque? Fugit
        laborum in fugiat quisquam illum. Velit voluptatum excepturi sit.</p>
    {{!-- The below is the syntax to access partials --}}
    {{> footer}}
</body>

</html>