<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help</title>
</head>

<body>
    <h1>{{screamIt welcomeMsg}}</h1>
     {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, odio? Magnam impedit consequuntur animi eius incidunt facilis
        quibusdam repellat iusto atque hic voluptas quam similique adipisci totam cumque quis pariatur quos, perferendis
        tempora veniam possimus doloribus placeat, nobis quae! Culpa architecto libero et illum ipsum eum consequatur vitae
        debitis commodi? Voluptates animi voluptatibus doloribus exercitationem ratione sequi, facere veritatis rerum minus
        consequuntur laborum ipsum doloremque accusamus, vero aspernatur tempora maxime impedit obcaecati molestiae neque,
        aperiam repellendus. Id sapiente inventore fuga beatae dolorum autem impedit, vel incidunt. Voluptatem cumque dolorem
        doloribus cum dolores possimus obcaecati? Corporis rerum dicta fugit saepe odit.</p>
    {{> footer}}

</body>

</html>