<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>The site is down</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit excepturi officia incidunt pariatur vel necessitatibus
        officiis autem suscipit cum. In officia maxime vitae aliquid vel corporis dolor, illum a nostrum.</p>
</body>

</html>